@page
@model ParkNet.Pages.My.ParkingSpots.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ParkingSpot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ParkingSpot.Id" />
            <div class="form-group">
                
                <label asp-for="ParkingSpot.VehicleType" class="control-label"></label>
                <select asp-for="ParkingSpot.VehicleType" class="form-control"></select>
                <span asp-validation-for="ParkingSpot.VehicleType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ParkingSpot.Booking" /> @Html.DisplayNameFor(model => model.ParkingSpot.Booking)
                </label>
            </div>
            <div class="form-group form-check">
                
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ParkingSpot.Busy" /> @Html.DisplayNameFor(model => model.ParkingSpot.Busy)
                </label>
            </div>
            <div class="form-group">
                
                <label asp-for="ParkingSpot.FloorId" class="control-label"></label>
                <select asp-for="ParkingSpot.FloorId" class="form-control" asp-items="ViewBag.FloorId"></select>
                <span asp-validation-for="ParkingSpot.FloorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
